@{
    ViewData["Title"] = "Kullanıcı Detaylar";
}

<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <dl class="row">
            <dt class="col-4">Ad Soyad</dt>
            <dd class="col-8">@NameData.GetFullName()</dd>

            <dt class="col-4">Kullanıcı Adı</dt>
            <dd class="col-8">@NameData.GetTitleName()</dd>

            <dt class="col-4">E-Posta Adresi</dt>
            <dd class="col-8">@NetworkData.GetEmail()</dd>

            <dt class="col-4">Aktif</dt>
            <dd class="col-8">
                <i class="fa fa-@(BooleanData.GetBoolean() ? "check text-success": "times text-danger")"></i>
            </dd>

            <dt class="col-4">Yönetici</dt>
            <dd class="col-8">
                <i class="fa fa-@(BooleanData.GetBoolean() ? "check text-success": "times text-danger")"></i>
            </dd>

            <dt class="col-4">Oluşturan</dt>
            <dd class="col-8">@NameData.GetFullName()</dd>

            <dt class="col-4">Oluşturma Tarihi</dt>
            <dd class="col-8">@DateTimeData.GetDatetime()</dd>

            <dt class="col-4">Güncelleyen</dt>
            <dd class="col-8">@NameData.GetFullName()</dd>

            <dt class="col-4">Güncelleme Tarihi</dt>
            <dd class="col-8">@DateTimeData.GetDatetime()</dd>
        </dl>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <button type="submit" class="btn btn-warning btn-sm"><i class="fa fa-save mr-2"></i>Düzenle</button>
        <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left mr-2"></i>Listeye Dön</a>
    </div>
</div>
