@{
    ViewData["Title"] = "Yazı Sil";
}

<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <p class="text-danger"> Yazıyı silmek istediğinize emin misiniz?<br />
            <small>Bu işlem geri alınamaz!!</small>
        </p>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4">
        <dl class="row">
            <dt class="col-4">Kategori</dt>
            <dd class="col-8">Veri</dd>

            <dt class="col-4">Başlık</dt>
            <dd class="col-8">Veri</dd>

            <dt class="col-4">Özet</dt>
            <dd class="col-8">@(TextData.GetSentences(3))</dd>

            <dt class="col-4">Taslak</dt>
            <dd class="col-8">
                <i class="fa fa-@(BooleanData.GetBoolean() ? "check text-success": "times text-danger")"></i>   
            </dd>

            <dt class="col-4">Beğeni Adedi</dt>
            <dd class="col-8">@(NumberData.GetNumber(1, 100))</dd>

            <dt class="col-4">Yorum Adedi</dt>
            <dd class="col-8">@(NumberData.GetNumber(1, 100))</dd>

            <dt class="col-4">Oluşturan</dt>
            <dd class="col-8">@(NameData.GetFullName())</dd>

            <dt class="col-4">Oluşturma Tarihi</dt>
            <dd class="col-8">@(DateTimeData.GetDatetime())</dd>

            <dt class="col-4">Güncelleyen</dt>
            <dd class="col-8">@(NameData.GetFullName())</dd>

            <dt class="col-4">Güncelleme Tarihi</dt>
            <dd class="col-8">@(DateTimeData.GetDatetime())</dd>
        </dl>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <form method="post" asp-action="Delete">
            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-save mr-2"></i>Sil</button>
            <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left mr-2"></i>Listeye Dön</a>
        </form>
    </div>
</div>